USE [master]
GO
/****** Object:  Database [YHealthy]    Script Date: 13.03.2022 21:10:26 ******/
CREATE DATABASE [YHealthy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YHealthy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YHealthy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YHealthy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\YHealthy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YHealthy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YHealthy]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 13.03.2022 21:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[gender] [char](1) NOT NULL,
	[birthday] [datetime2](7) NULL,
	[position] [nvarchar](50) NOT NULL,
	[phone] [nchar](11) NOT NULL,
	[price] [int] NOT NULL,
	[cash] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 13.03.2022 21:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[gender] [char](1) NOT NULL,
	[birthday] [datetime2](7) NOT NULL,
	[phone] [nchar](11) NOT NULL,
	[passport_ser_num] [nchar](10) NOT NULL,
	[inn] [nchar](12) NOT NULL,
	[cash] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Record]    Script Date: 13.03.2022 21:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_doc] [int] NOT NULL,
	[id_pat] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 13.03.2022 21:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.03.2022 21:10:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[id_role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__7838F2729082AD6D] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([login])
REFERENCES [dbo].[Users] ([login])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
/****** Object:  Statistic [_WA_Sys_00000009_19DFD96B]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000009_19DFD96B] ON [dbo].[Doctors]([login]) WITH STATS_STREAM = 0x0100000001000000000000000000000077AAE0580000000067020000000000002702000000000000E7030000E7000000640000000000000015D0000000000000070000003BA2500157AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000030410000004000000000000030410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005400000000000000A300000000000000AB00000000000000B30000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F004E0069006B006100300010000000803F000000000000803F040000010025007000610070006100730068006100FF01000000000000000200000002000000280000002800000000000000000000000B0000004E0069006B0061007000610070006100730068006100030000004000000000810400000001070400000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Doctors]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Doctors]([PK_Doctors]) WITH STATS_STREAM = 0x010000000100000000000000000000005F97B57200000000FA01000000000000BA0100000000000038039A213800000004000A00000000000000000000000000070000003AA2500157AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000002_6FE99F9F] ON [dbo].[Patient]([full_name]) WITH STATS_STREAM = 0x0100000001000000000000000000000038AE2CC6000000007F020000000000003F02000000000000E7030000E7000000640000000000000015D000000000000007000000F1AB720154AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000050420000803F00000000000050420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005300000000000000BB00000000000000C300000000000000CB000000000000000800000000000000300010000000803F000000000000803F04000001004B001F043004430442043A0438043D04300420001C043004400438043D0430042000120430043B04350440044C04350432043D043004FF01000000000000000100000001000000280000002800000000000000000000001A0000001F043004430442043A0438043D04300420001C043004400438043D0430042000120430043B04350440044C04350432043D043004020000004000000000011A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000003_6FE99F9F] ON [dbo].[Patient]([gender]) WITH STATS_STREAM = 0x01000000010000000000000000000000E6D337B8000000001502000000000000D501000000000000AF030000AF000000010000000000000015D000005802000007000000F0AB720154AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000001C000000000000005100000000000000590000000000000061000000000000000800000000000000100011000000803F000000000000803FE6040000FF010000000000000001000000010000002800000028000000000000000000000001000000E602000000400000000001010000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000004_6FE99F9F] ON [dbo].[Patient]([birthday]) WITH STATS_STREAM = 0x01000000010000000000000000000000815AF5F700000000DF010000000000009F010000000000002A0300002A00000008001B0700000000000000000000000007000000F1AB720154AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000023000000000000002B0000000000000033000000000000000800000000000000100018000000803F000000000000803F0000000000C9DF0A04000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000005_6FE99F9F] ON [dbo].[Patient]([phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000009E24BF000000003F02000000000000FF01000000000000EF030000EF000000160000000000000015D000000000000007000000F1AB720154AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000260000000000B0410000803F000000000000B04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000031000000000000007B0000000000000083000000000000008B000000000000000800000000000000100026000000803F000000000000803F37003300380034003200330035003100390035003700040000FF01000000000000000100000001000000280000002800000000000000000000000B00000037003300380034003200330035003100390035003700020000004000000000010B0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000006_6FE99F9F] ON [dbo].[Patient]([passport_ser_num]) WITH STATS_STREAM = 0x010000000100000000000000000000008200D3AD000000003B02000000000000FB01000000000000EF030000EF000000140000000000000015D000000000000007000000F1AB720154AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002F0000000000000077000000000000007F0000000000000087000000000000000800000000000000100024000000803F000000000000803F3700380033003200340030003700370035003700040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003700380033003200340030003700370035003700020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000007_6FE99F9F] ON [dbo].[Patient]([inn]) WITH STATS_STREAM = 0x01000000010000000000000000000000B9C8639D0000000043020000000000000302000000000000EF030000EF000000180000000000000015D000000100000007000000F1AB720154AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000280000000000C0410000803F000000000000C04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000033000000000000007F0000000000000087000000000000008F000000000000000800000000000000100028000000803F000000000000803F310031003800310031003600390037003700330033003900040000FF01000000000000000100000001000000280000002800000000000000000000000C000000310031003800310031003600390037003700330033003900020000004000000000010C0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_6FE99F9F]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000008_6FE99F9F] ON [dbo].[Patient]([cash]) WITH STATS_STREAM = 0x010000000100000000000000000000000D2D926500000000DB010000000000009B01000000000000380300003800000004000A0000000000000000005802000007000000F0AB720154AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0000000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Patient]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Patient]([PK_Patient]) WITH STATS_STREAM = 0x01000000010000000000000000000000959D57EB00000000400000000000000000000000000000003803479E3800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_49C3F6B7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000002_49C3F6B7] ON [dbo].[Record]([id_doc]) WITH STATS_STREAM = 0x010000000100000000000000000000004886179E00000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000077007307000000DD70050152AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_49C3F6B7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000003_49C3F6B7] ON [dbo].[Record]([id_pat]) WITH STATS_STREAM = 0x01000000010000000000000000000000B182640700000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000077007307000000DD70050152AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F2C00000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_49C3F6B7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000004_49C3F6B7] ON [dbo].[Record]([date]) WITH STATS_STREAM = 0x01000000010000000000000000000000F92F6BBC00000000DF010000000000009F010000000000002A0300002A00000008001B0700000000000000000077007307000000DC70050152AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000023000000000000002B0000000000000033000000000000000800000000000000100018000000803F000000000000803F0010ACD153AD430B04000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Appointment]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Record]([PK_Appointment]) WITH STATS_STREAM = 0x01000000010000000000000000000000959D57EB00000000400000000000000000000000000000003803479E3800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5CD6CB2B]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000002_5CD6CB2B] ON [dbo].[Role]([role]) WITH STATS_STREAM = 0x01000000010000000000000000000000C6E42B47000000002B02000000000000EB01000000000000E7030073E7000000640000000000000015D000000000000007000000DB523A0154AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E0002000000400000000001050000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Role]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Role]([PK_Role]) WITH STATS_STREAM = 0x010000000100000000000000000000005C5A8E7200000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000B304470157AE0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000004_06CD04F7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000004_06CD04F7] ON [dbo].[Users]([login]) WITH STATS_STREAM = 0x0100000001000000000000000000000025EEC34C000000006A020000000000002A02000000000000E7030000E7000000640000000000000015D000000000803F0700000043E2470157AE0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000555515410000404000000000555515410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004C00000000000000A600000000000000AE00000000000000B60000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F004E0069006B006100300010000000803F0000803F0000803F04000001001D00710077006500FF01000000000000000300000003000000280000002800000000000000000000000E0000004E0069006B00610070006100700061007300680061007100770065000400000040000000008104000000810704000001030B00000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_06CD04F7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000005_06CD04F7] ON [dbo].[Users]([pass]) WITH STATS_STREAM = 0x01000000010000000000000000000000A2630289000000002302000000000000E301000000000000E7030000E7000000640000000000000015D00000000000000700000043E2470157AE000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C04000004040000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F0000000000000008000000000000003000100000004040000000000000803F04000001001D00310032003300FF01000000000000000300000001000000280000002800000000000000000000000300000031003200330002000000400000000003030000000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_06CD04F7]    Script Date: 13.03.2022 21:10:26 ******/
CREATE STATISTICS [_WA_Sys_00000006_06CD04F7] ON [dbo].[Users]([id_role]) WITH STATS_STREAM = 0x01000000010000000000000000000000B26B0DEF00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000005802000007000000B304470157AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Users]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Users]([PK_Users]) WITH STATS_STREAM = 0x010000000100000000000000000000007C4A9EB100000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000C6BD430157AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [UQ__Users__7838F2729082AD6D]    Script Date: 13.03.2022 21:10:26 ******/
UPDATE STATISTICS [dbo].[Users]([UQ__Users__7838F2729082AD6D]) WITH STATS_STREAM = 0x010000000200000000000000000000008F688BA5000000004903000000000000F102000000000000E7035000E7000000640000000000000015D0000058020000380300003800000004000A0000000000000000005802000007000000B646480157AE0000070000000000000007000000000000000000803F2549123E2549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000200000010000000B76D3B410000E040000000006EDBF640000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000E2000000000000006D0100000000000075010000000000007D0100000000000030000000000000004D000000000000006A000000000000008900000000000000A600000000000000C500000000000000300010000000803F000000000000803F04000001001D00650071007700300010000000803F000000000000803F04000001001D00650077007100300010000000803F000000000000803F04000001001F004E0069006B006100300010000000803F0000803F0000803F04000001001D00710077006500300010000000803F000000000000803F04000001001F007200710071007100300010000000803F000000000000803F04000001001D00770071006500FF01000000000000000700000007000000280000002800000000000000000000001A000000650071007700770071004E0069006B00610070006100700061007300680061007100770065007200710071007100770071006500090000004000000000C00100000081020100000102030000810405000081070900008103100000810413000001031700000007000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
USE [master]
GO
